<div class="container">
    <form class="form" name="form" ng-submit="addNewStore(form)" novalidate>

        <div class="form-group">
            <label>Tên cửa hàng:</label>
            <input type="text" name="name" class="form-control" ng-model="store.name" ng-maxlength="30" maxlength="30" required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
                Thông tin bắt buộc
            </p>
            <p class="help-block" ng-show="form.name.$error.maxlength">
                Nhập tối đa 30 kí tự
            </p>
        </div>
        <div class="form-group">
            <label>Thông tin cửa hàng:</label>
            <input type="text" name="info" class="form-control" ng-model="store.info" ng-maxlength="150" maxlength="150" />
            <p class="help-block" ng-show="form.name.$error.maxlength">
                Nhập tối đa 150 kí tự
            </p>
        </div>
        <div class="form-group">
            <label>Địa chỉ:</label>
            <input type="text" name="address" class="form-control" ng-model="store.address" ng-maxlength="250" maxlength="250" />
            <p class="help-block" ng-show="form.name.$error.maxlength">
                Nhập tối đa 250 kí tự
            </p>
        </div>
        <div class="form-group">
            <label>Thành phố/ tỉnh</label>
            <select name="cityId" ng-model="store.cityId">
                    <option value="">-- Chọn thành phố/ tỉnh --</option>
                    <option ng-repeat="c in cities" value="{{c.abbr}}">{{c.city}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Loại hàng kinh doanh</label>
            <select name="categoryId" ng-model="store.categoryId">
                    <option value="">-- Chọn mặt hàng --</option>
                    <option ng-repeat-start="category in listOfCategories" ng-bind="category.MenuName" ng-disabled="true"></option>
                    <option ng-repeat-end ng-repeat="menu in category.Menus" value="{{menu.MenuId}}">{{menu.subMenu}}</option>
            </select>
        </div>
        
        <button class="btn btn-lg btn-primary" type="submit">Lưu</button>
    </form>
</div>
