<section id="leftbar">
  <div class="navbar navbar-default navbar-fixed-left">
    <ul class="nav navbar-nav">
      <li ng-repeat="item in leftbar.menu" ui-sref-active="active">
      	<a href="#" ui-sref="{{item.MenuState.name}}"  class="parent-menu">{{item.MenuName}}</a>
      	<ul class="collapse">
      		<li class="li-sub-item" ng-repeat="subitem in item.Menus">
      			<a class="sub-text" ui-sref="{{subitem.MenuState.name}}" href="#">{{subitem.subMenu}}</a>
      		</li>
      	</ul>
      </li>
    </ul>
  </div>
</section>
